=render 'home/partials/nav'
=render 'home/partials/float_button'

/! TODO how to create the functionality listing

=render 'home/partials/costumers_feedback'
=render 'home/partials/prices'
=render 'home/partials/footer'