/* SmartPhone -> portrait */
@media only screen
and (max-width : 600px) {

  div[id*=_feedback] {
    .card-panel {
      height: 191px;
    }

    .slider {
      ul.slides {
        li {
          .profile.caption {
            top: 10%;
            width: 65%;
            margin-left: 15%;
          }
        }
      }
    }
  }

}