/* SmartPhone -> portrait */
@media only screen
and (max-width : 600px) {

  #costumers_feedback {
    .card-panel {
      height: 191px;
    }

    .profile.caption {
      top: 10%;
      width: 65%;
      margin-left: 20%;
    }
  }

}