.center.feature
  i class="#{@desc_icon} #{@desc_icon_color}"
  p.promo-caption Speeds up development
  .light.justify We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.